@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebBold.eot');
    src: url('../fonts/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebBold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebBold.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebThin.eot');
    src: url('../fonts/eot/IRANYekanWebThin.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebThin.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebThin.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebThin.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebLight.eot');
    src: url('../fonts/eot/IRANYekanWebLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebLight.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebRegular.eot');
    src: url('../fonts/eot/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebRegular.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebRegular.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebMedium.eot');
    src: url('../fonts/eot/IRANYekanWebMedium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebMedium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebMedium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebExtraBold.eot');
    src: url('../fonts/eot/IRANYekanWebExtraBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebExtraBold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 850;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebBlack.eot');
    src: url('../fonts/eot/IRANYekanWebBlack.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebBlack.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebBlack.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebBlack.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/eot/IRANYekanWebExtraBlack.eot');
    src: url('../fonts/eot/IRANYekanWebExtraBlack.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/IRANYekanWebExtraBlack.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/woff2/IRANYekanWebExtraBlack.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
}


/* Number Persian  */

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/eot/iranyekanwebthinfanum.eot');
    src: url('../fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanwebthinfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/iranyekanweblightfanum.eot');
    src: url('../fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanweblightfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/iranyekanwebregularfanum.eot');
    src: url('../fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanwebregularfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/iranyekanwebmediumfanum.eot');
    src: url('../fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/iranyekanwebboldfanum.eot');
    src: url('../fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanwebboldfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/eot/iranyekanwebextraboldfanum.eot');
    src: url('../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
       /* url('../fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),*/
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/iranyekanwebextrablackfanum.eot');
    src: url('../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

@layer base {
    html {
        font-family: "yekan" !important;
    }
}
select, option {
    font-family: inherit !important;
  }

.swiper.js_filter_search {
    margin-right: 0;
}

.js_filter_search .swiper-slide {
    width: fit-content;
}

.radios:checked+.css_label-radio {
    background-color: #025EC6;
    color: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
    left: 0;
    right: auto;
    background-color: #e7e7e7;
    width: 50px !important;
    height: 50px !important;
    border-radius: 99px;
}

.swiper-button-next {
    left: 10px !important;
}

.swiper-button-prev {
    right: 10px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 22px !important;
}

.js_Property_Type:hover i {
    font-weight: 600;
}

.css_checkbox:checked+.css_lable {
    --tw-border-opacity: 1;
    border-color: rgb(2 94 198 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(2 94 198 / var(--tw-text-opacity));
    background-color: #ffffff;
    font-weight: 500;
}

.css_checkbox:checked+.css_lable i {
    font-weight: 600;
}

.css_city:checked+.css_city_label:before {
    background: #025EC6;
}

.css_scroll::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.switch input[type="checkbox"]:checked~div:after {
    left: calc(100% - 32px + 2px);
    background-color: white;
}

.switch input[type="checkbox"]:checked~div:before {
    background-color: gray;
}

.css_slider_show .swiper-button-prev,
.css_slider_show .swiper-button-next {
    left: 0;
    right: auto;
    background-color: transparent;
    color: #fff;
    font-size: 36px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}
.css_slider_show .swiper-button-next:after,
.css_slider_show .swiper-button-prev:after {
    font-size: 36px !important;
}

.css_slider_show .swiper-pagination-progressbar {
    top: auto !important;
    right: 0 !important;
    bottom: 0 !important;
}

.css_slider_show .modal_slider {
    padding-bottom: 14px;
}

.css_slider_show .swiper-pagination {
    /* padding-bottom: 30px; */
    width: 50% !important;
    margin: auto !important;
}

.css_input_radio input:checked~.css_input_radio_check {
    background: #025EC6;
}

.css_radios_type_state:checked+.css_label-radio {
    color: #fff;
    background-color: #4C84B4;
    border-color: #4C84B4;
    /* font-weight:; */
}

.css_radios_type_state:checked+.css_label-radio>i,
.css_radios_type_state:checked+.css_label-radio>span {
    font-weight: bolder;
}

/* .error {
    border-color: red;
} */

label.error {
    color: red;
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
    padding-right: 10px;
}

.inactive {
    background-color: #eee !important;
    color: #666 !important;
    cursor: default !important;
}

.button-animate {
    animation: pulse .7s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 3px 1px #bedbfcb7;
    }

    100% {
        box-shadow: 0px 0px 3px 8px #bedbfcb7;
    }
}

#audio-playback {
    display: block !important;
}

audio::-webkit-media-controls-enclosure {
    background-color: #fff;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
}

.active_fav {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid #025EC6;
    color: #025EC6;
}
@media (min-width:1024px) {
    .select2-container--default .select2-selection--single {
        border-radius: 16px !important;
    }

}

@media (max-width:1024px) {
    .active_fav {
        font-size: 18px;
        border-bottom: 2px solid #025EC6;
    }
    .inner_sidebar{
        position:relative!important;
        transform: none!important;
        width: auto!important;
        right: 0!important;
        left: 0!important;
    }
    .select2-container--default .select2-selection--single {
        border-radius: 16px !important;
    }
}

.round input[type="checkbox"]:checked+label {
    background-color: #025EC6;
    border-color: #025EC6;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.css_star-rating label:hover,
.css_star-rating label:hover~label,
.css_star-rating input[type=radio]:checked~label {
    color: #f2b600;
    cursor: pointer;
}

.css_slider_expert .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.css_slider_expert .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.css-accordion button[aria-expanded='true']+.css-accordion-content {
    opacity: 1;
    max-height: 100% !important;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.css-accordion button[aria-expanded='true'] i {
    /* rotate: 180deg; */
    transform: rotate(180deg);
    transition: all 200ms linear;
}

.css-atcive-about {
    background-color: #F2F2F2;
    border-radius: 0 12px 12px 0;
    color: #025EC6;
    font-weight: 500;
    position: relative;
    transform: scale3d(1.1, 1.1, 1.1);
}

.css-atcive-about::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 90px;
    background-color: #F9A51A;
    margin: -0.25rem;
    right: 1rem;
}

.css_step_before:before {
    content: '\f053' !important;
    position: absolute;
    top: 3px;
    font-family: 'Font Awesome 6 Pro';
    font-size: 24px;
    font-weight: bold;
    color: #3AC937;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    color: #FAA638;
    cursor: pointer;
  }
.css_active_tab {
    border-bottom: 3px solid #025EC6;
    font-weight: 500;
    color: #025EC6;
}

.ccs_more {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.css_search_active {
    width: 180px !important;
}
.css-blog-active {
    background-color: #F9F9F9;
    border: 1px solid #E7E7E7;
    font-weight: 500;
}
.css-club-border{
    border-top: 1px dashed #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
}

.check-round input[type="checkbox"] {
    visibility: hidden;
  }

  .check-round1 input[type="radio"] {
      visibility: hidden;
    }
  .check-round1 input[type="radio"]:checked + label {
    opacity: 1;
    font-weight: 800;

  }



  .check-round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
input.error {
    border-color:red;
}
.disabled-link {
    pointer-events: none;
}
.disabled-link ,.disabled-link * {
color: #adadad  !important;
}

